global:
  image: {}

image: 
  name: "magda-project-open-data-connector"
  # repository: 
  # tag: 
  # pullPolicy: 
  # imagePullSecret: 

defaultImage:
  repository: docker.io/data61
  tag: 0.0.57-0
  pullPolicy: IfNotPresent
  # imagePullSecret: ""

resources:
  requests:
    cpu: 50m
    memory: 30Mi
  limits:
    cpu: 100m

includeInitialJobs: true
includeCronJobs: false
defaultTenantId: 0

config:
  ## Unique id to identify this connector and records that are harvested from it
  id: default-project-open-data-connector

  ## Friendly readable name
  ## name: 
  
  ## The base URL of the place to source data from
  # sourceUrl: 
  
  ## When crawling through from beginning to end, how big should the individual requests be in records?
  # pageSize: 100
  
  ## Crontab schedule for how often this should happen.
  # default = "0 14 * * 6" i.e. 12am Sydney time on Sunday
  # schedule?: string;